.recipe{
	box-shadow:0 5px 20px #555555;
	margin:20px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	background:white;
	align-items:top;
	width:100%;
	padding:20px 30px 50px 30px;
}
.recipeImage{
	border-radius:50%;
	border:3px solid #000000;
	padding:8px;
	max-width:230px;
}
.recipeInner1{
	width:35%;
	padding:15px;
}
.recipeInner2{
	width:45%;
	text-align:left;
	padding:15px;
}
.recipeInner3{
	width:20%;
	text-align:left;
	text-align:left;
	padding:15px;
}
.innerlabel{
	font-size:22px;
	color:#777777;
	border-bottom:1px solid #777777;
}
ol {
    counter-reset:item; 
    margin:0; 
    padding-left:0; 
}
ol>li {
    counter-increment:item; 
    list-style:none inside; 
    margin: 5px 0;
    overflow: hidden;
    font-family:sans-serif;
    font-size: 16px !important;
    line-height:21px;
}
ol>li:before {
    content:counter(item) ;
    margin-right: 10px;
    padding: 5px 3px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #111111;
    color: #fff;
    text-align: center; 
    font: 10px 'sans-serif', cursive;
    float: left;
    width:20px;
}
.button{
	padding:10px;
	background-color:#333333;
	color:#ffffff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:20px 0 0 0;
	text-align:center;
	text-decoration:none!important;
	transition:0.3s all;
	-moz-transition:0.3s all;
	-webkit-transition:0.3s all;
	-o-transition:0.3s all;
}
.recipeInner2 a{
	text-decoration:none!important;
}
.button:hover{
	background-color:#000000;
}
.greenText{
	color:green;
	margin-left:20px;
	font-size:15px;	
}
.redText{
	color:red;
	margin-left:20px;
	font-size:15px;
}
.nutritionalp{
	margin:0;
	padding:0;
	font-size:15px;
}
.nutritionalp span{
	font-weight:bold;
}

@media only screen and (max-width: 870px) {
	.recipe{
		flex-direction:column;
	}
	.recipeInner1{
		width:100%;
		padding:15px;
	}
	.recipeInner2{
		width:100%;
		text-align:center;
		padding:15px;
	}
	.recipeInner3{
		width:100%;
		padding:15px;
	}	
	ol>li:before {
		display:none;
	}
}